* {
    margin: 0;
    padding: 0;
}

main {
    height: 90vh;
    background-color: #F2F4F7;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    padding: 0px 10vw;
}

@media (max-width: 850px) {
    main{
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    
}

.logoAndSlogan {
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: start;
    margin-right:10vw;
}
.slogan {
    font-size: 30px;
    padding-left: 20px;
}


.account {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(32, 33, 36, 0.28);

    width: 100%;
    max-width: 400px;      
    padding: 20px 0;      
}

/* Center the box in its container */
.form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.textfield {
    width: 90%;          
    max-width: 350px;     
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
    margin: 10px 0;
    border: 1px solid rgb(143, 143, 143);
}


.textfield::placeholder {
    font-size: 16px;
}

.login {
    margin-top: 12px;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #0866FF;
    color: white;
    font-size:25px;
    font-weight: 700;
    
}

.forgot-password{
    margin-top: 20px;
    text-decoration: none;
    margin-bottom: 10px;
}

.divider{
    margin-top: 10px;
    width: 360px;
    height: 0.5px;
    background-color: rgba(128, 128, 128, 0.599);
}
.blankspace{
    height: 10px;
}

.create-new-account{
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    background-color: #0866FF;
    color: white;
    font-size: 15px;
    font-weight: 700;   
    padding: 15px 30px;
    background-color: #42B72A;
    margin-bottom: 25px;
}

.create-a-page {
    padding: 20px 0px;
    font-size: 16px;
    margin: auto;
    display: flex;
    justify-content: center;
    font-weight: 300; 
}

.create-a-page .bold-text {
    font-weight: 700;
}


