 * {
     margin: 0;
     padding: 0;
 }

 .avatar {
     width: 30px;
     height: 30px;
     background: #5C6BC0;
     color: #fff;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: 700;
     font-size: 10px;
     font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
     user-select: none;
 }

 li {
     padding: 15px 0px 0px 20px;
     font-size: large;
     font-family: arial, sans-serif;
     color: rgba(0, 0, 0, .87);
     font-family: arial, sans-serif;
     font-size: 13px;
     line-height: 24px;
     text-decoration: none
 }

 ul {

     list-style-type: none;
     display: flex;
     flex-direction: row-reverse;
     justify-content: end;
 }

 main{
    height: 80vh;
    /* width: 100vw; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* background-color: red; */
 }

  .search-container {
    position: relative;
    width: 40vw;
}

.search-input {
    width: 100%;
    height: 6vh;
    border-radius: 30px;
    border: 1px solid rgba(165, 162, 162, 0.785);
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    font-size: 16px;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    opacity: 0.6;
}
.right-icon{
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
     top: 50%;
    right:5px;
    transform: translateY(-50%);
    gap: 15px;
}

.mic-icon {
    cursor: pointer;
}

.image-icon {
    cursor: pointer;
}
.ai-mode{
    padding: 5px;
    border-radius: 15px;
    background-color: #bfbdbf3c;
    color: black;
    font-size: 18px;
    cursor: pointer;
    font-size: 15px;
}
.below-search{
    display: flex;
    gap:10px
}

.capsule{
    padding: 10px;
    background-color:#F8F9FA;
    border-radius: 10px;
    color: rgb(68, 68, 68);
}

.goole-offered{
    color: rgb(46, 45, 45);
}

.nepali{
    /* border-bottom:2px solid gray; */
    color: #1A0DAB;
    font-size: 13px;
    text-decoration: none;
}
.nepal{
    padding: 20px 0px 20px 20px;
    background-color: #F2F2F2;
    color: black;
}
.breaker{
    height: 1px;
    width: 100%;
    background-color: rgb(200, 200, 200)
}
.menus{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.left-Menu{
    display: flex;
    gap: 30px;
}
.right-menu{
    display: flex;
     gap: 30px;
}

    

